{
 :name "configuration-clj"
 :version "0.2.4"

 :db {
      :name "whacko-db"
      :host "example.org"
      :port 4567
      }

 :ring {
        :handler {
                  :ns "some-ring-handler-ns"
                  :protocol "binary"}
        }
}
